---
import { basics } from '@cv'

const { beian } = basics
---

<div
  class='flex justify-center print:hidden md:col-span-6 pb-12 w-full text-center slide-enter'>
  <div class='flex items-center space-x-0 opacity-50 text-xs'>
    <span class='gap-1 text-center no-underline'>
      {
      beian && (
        <>
          {beian.mint && (<a class='relative group' href='https://beian.miit.gov.cn/'>
            <span>{beian.mint}</span>
            <span class='group-hover:scale-x-100 bottom-0 left-0 absolute bg-current w-full h-[1px] origin-right group-hover:origin-left transition-transform duration-300 ease-out scale-x-0' />
          </a>
          <span>&</span>)
          }
          {beian.police && (<a
            class='relative group'
            href='http://www.beian.gov.cn/portal/registerSystemInfo'>
            <span>{beian.police}</span>
            <span class='group-hover:scale-x-100 bottom-0 left-0 absolute bg-current w-full h-[1px] origin-right group-hover:origin-left transition-transform duration-300 ease-out scale-x-0' />
          </a>)}

        </>
      )
    }
      <p class='mt-3 font-mono text-center'>
        I <span class='font-black'>100%</span> !Proudly Use <a
          class='font-black'>
          <span class='underline'>Portfolio</span>
        </a> that Made by <a
          class='font-black'
          href='https://github.com/ZoroXCode'>
          <span class='underline'>Mizan</span>
        </a>
      </p>
    </span>
  </div>
</div>
